.NavBar{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 20px;  
     background-image: url("/Dots.png");
    
    
    
    color: black;
    font-size: larger;
    
}
.NavBar .logo {
    font-size: 24px;
    font-weight: bold;
}
.NavBar .nav-links {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}   
.caaLogo{
    margin-left: 10px;
    flex: 0 0 64px;
}
.caaLogo img{
    
     width: 64px;
    
}
.registerBtn{
    padding: 10px 20px;
    background-color: #759451;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.hamMenu{
    cursor: pointer;
    width: 50px;
   
}

.nav-links-toggled{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-weight: 500;
    align-items: center;
    height: 402px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
    z-index: 1000;
    color: black;
    will-change: drop;
    animation: drop 0.2s ease-in-out;
    background-color: #D9F3B9;
    background-image: url("/Dots.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
   
}
@keyframes drop {
    from {
        height: 0px;
    }
    to{
        height: 402px;
    }
}
.nav-links-toggled a{
    font-size: larger;
}
.stack{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    gap: 10px
    ;
}
.stack div{
    width: 50px;
    height: 05px;
    background-color: #759451;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.stackT{
   height: 100%;
    width: 50px;
}
.stackT div{
    width: 50px;
    height: 05px;
   
    position: absolute;
    top: 50%;
    background-color: #759451;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
}
.plate2T{
    display: none;
}
.plate1T{

    transform: rotate(45deg);
}
.plate3T{
    transform: rotate(-45deg);
}